.paragraph--topbar-text {
    color: white;
    font-size: 12px;
    font-family: 'Fabriga';
}

.link--topbar-text {
    color: white;
    font-size: 12px;
    font-family: 'Fabriga';
    font-weight: 300;
}


