.paragraph--topbar-text,
.link--topbar-text {
    color: white;
    font-size: 12px;
    font-family: 'Comic Neue';
    font-weight: bold;
}

.paragraph--compras, .paragraph--cuida, .paragraph--todas {
    color: #041e50;
}


