.searchBarInnerContainer--maxSearch {
    width: 760px;
}


.autoCompleteOuterContainer--maxSearch :global(.vtex-input-prefix__group) {
   height: 60px;
   box-sizing: content-box;
}

.suffixWrapper--maxSearch {
    display: none;
}











